numpy
wandb
gitpython
opencv-python
joblib
libigl
hydra-core
hydra-zen
imageio
open3d
pygltflib
rich
plyfile
polyscope
robust-laplacian
pymeshlab
siren-pytorch
lightly
pyfmaps
seaborn
scikit-learn
noise
lightning
torch_geometric
scipy
jupyterlab
pandas
meshio
trimesh
huggingface_hub[cli]<1
transformers
point-cloud-utils
# pip install kaolin==0.18.0 -f https://nvidia-kaolin.s3.us-east-2.amazonaws.com/torch-2.6.0_cu126.html